services:
  # Logstash Consumer para Discord
  logstash-discord:
    image: docker.elastic.co/logstash/logstash:8.11.1
    container_name: logstash-discord
    volumes:
      - ./logstash-discord/pipeline:/usr/share/logstash/pipeline:ro
    networks:
      - kafka-cluster-network
      - discord-network
    restart: unless-stopped
    mem_limit: 512m
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
      KAFKA_BOOTSTRAP: broker:29092,broker2:29092
      DISCORD_WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}

# Redes
networks:
  discord-network:
    driver: bridge
  kafka-cluster-network:
    external: true
    name: kafka-cluster-network
